{% extends "base.html" %}

{% block content %}
{%with messages = get_flashed_messages()%}

{%if messages%}

{% for message in messages %}

<div class="alert alert-success alert-dismissable" role="alert">

 <button type="button" class="close" data-dismiss="alert" aria-label ="close">

	  <span aria-hidden="true">&times;</span>

 </button>
	 {{message}}


</div>


{%endfor%}
{%endif%}
{%endwith%}
<div class="column is-4 is-offset-4">
	<h3 class="title">Request</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="notification is-danger">
			{{ messages[0] }}
		</div>
		{% endif %}
		{% endwith %}
		<form method="POST" action="/request_det">
			<form method="POST" action="/request_det">
				{{ form.hidden_tag() }}
				<div class="field">
					{{ form.project.label }}
					{{ form.project(class="control") }}
				</div>

				<div class="field">
					{{ form.school_id.label }}
					{{ form.school_id(class="control") }}
				</div>

				<div class="field">
					{{ form.school_name.label }}
					{{ form.school_name(class="control") }}
				</div>

				<div class="field">
					{{ form.username.label }}
					{{ form.username(class="control") }}
				</div>

				<div class="field">
					{{ form.client.label }}
					{{ form.client(class="control") }}
				</div>

				<div class="field">
					{{ form.client_id.label }}
					{{ form.client_id(class="control") }}
				</div>

				<div class="field">
					{{ form.phone.label }}
					{{ form.phone(class="control") }}
				</div>

				<div class="field">
					{{ form.email.label }}
					{{ form.email(class="control") }}
				</div>

				<div class="field">
					{{ form.problem_type.label }}
					{{ form.problem_type(class="control") }}
				</div>

				<div class="field">
					{{ form.status.label }}
					{{ form.status(class="control") }}
				</div>

				<div class="field">
					{{ form.service.label }}
					{{ form.service(class="control") }}
				</div>

				<div class="field">
					{{ form.body.label }}
					{{ form.body(class="control") }}
				</div>

				{{ form.submit(class="button is-block is-info is-large is-fullwidth") }}

			</form>
		</form>
	</div>
</div>
{% endblock %}